################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureREST.web/.vs/config
/AzureREST.web/AzureREST.web/obj/Debug
/AzureREST.web/packages
/AzureREST.web/.vs/AzureREST.web/v15
/AzureREST.web/.vs/AzureREST.web/DesignTimeBuild
/AzureREST.web/AzureREST.web/obj/Release
/AzureREST.web/AzureREST.web/Properties/PublishProfiles
