@{
    ViewBag.Title = "AzureREST";
}

<div class="jumbotron">
    <h1>AzureREST</h1>
    <p class="lead">This is a sample that allows you to sign-in with your Azyre credentials and manage your Azure resources directly.</p>    
</div>

<div>
    
</div>

